{% extends "layout.html" %}

{% block content %}
<div class="jumbotron text-center">
  <div class="container">
    <h1>Codeforces New Entry Crawler</h1>
    <p>Codeforcesの新着エントリーをクロールして提供するサイト</p>
    <a type="button" class="btn btn-lg btn-default" href="/list/"><span class="glyphicon glyphicon-th-list"></span> 新着記事リスト</a>
    <a type="button" class="btn btn-lg btn-primary" href="/rss/"><span class="glyphicon glyphicon-circle-arrow-down"></span> RSS</a>
  </div>
</div>

{% endblock %}
