<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>

      <li>
        <a href="/list/"><span class="glyphicon glyphicon-th-list"></span> 新着記事リスト</a>
      </li>

      <li>
        <a href="/rss/"><span class="glyphicon glyphicon-circle-arrow-down"></span> RSS</a>
      </li>

    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://hamayanhamayan.github.io">
        <span class="glyphicon glyphicon-user"></span> HAMAYAN×HAMAYAN</a>
      </li>
    </ul>
  </div>
</nav>
