<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:content="http://purl.org/rss/1.0/modules/content/">
<channel>
<title>Codeforces New Entries</title>
<link>https://codeforces-crawler.herokuapp.com/</link>
<description>CodeforcesのNew Entryをクロールしたもの</description>
<language>ja</language>

{% for item in items %}
  <item>
    <title> {{ item.title }} </title>
    <link> http://codeforces.com/blog/entry/{{ item.id }} </link>
    <description> {{ item.authorhandle }}'s post </description>
    <pubDate> {{ item.creationtime }} </pubDate>
  </item>
{% endfor %}

</channel>
</rss>
